h1, h2, h3, h4, h5, h6, legend {
    color: #179bd7;
}

#sidebar h2 {
    background-image: url("gms_logo.png");
    background-position: 50% 85%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #fcfcfc;
    height: 150px;
}

#sidebar > h2 > a {
    color: 	#000000;
}

#table-of-contents li a {
    color: #faa21a;
}
